.react{
  background: black;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}
.info{
  background-color: lightgray;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}
.box{
  display: flex;
  align-content: center;  
  flex-wrap: wrap;
  flex-direction: row-reverse;
  text-align: center;
  padding: auto;
}